.menu_list {	
	margin: 0 0 0 0;
	width: 100%;
	text-align:left;
}

.menu_head {
	padding:13px;
	cursor: pointer;
	position: relative;
    font-weight:bold;
	background-color:#F5CEF3;
	background: -webkit-gradient(linear, left top, left bottom, from(#E47BDE), to(#7B3399));
	background: -moz-linear-gradient(top,  #E47BDE,  #7B3399);
	font-size:1.1em;
	color:#FCF8FC;
	border: thin solid #F3CBF4;
}

.menu_head a{
	color:#FCF8FC;
}

.menu_body {
	display:none;
	margin: 0 0 0 0;
}

.menu_body a{
	display:block;
	background-color:#FFF;
	text-decoration:none;
	width: 89%;
	color:#4F4F4F;
	padding: 10px 0 10px 20px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
	background: -moz-linear-gradient(top,  #FFF,  #FFF);
}

.menu_body a:hover{
	background:#F5CCF3;
	color:#7B3399;
	text-shadow:none;
}
